@font-face {
    font-family: 'Montserrat';
    src: url('/static/font/Montserrat-Regular.ttf') format('truetype');
}

body, input, button, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 5rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 32%;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
}

form p {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
    width: 92%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

p {
    text-align: left;
    margin-top: 1rem;
}

.helptext {
    display: none;
    background-color: white;
    color: #333;
    font-size: 0.9rem;
    /*padding: 0.5rem;*/
    border-radius: 8px;
    list-style-type: disc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form ul{
    padding-left: 20px;
    margin-top:0px;
}
form ul li {
    color:#333;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 0.5rem;
}

/* Per allineare meglio l'etichetta e il checkbox */
p:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    margin-top: 1rem;
}