{% load static %}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login-reg.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password"><br><br>
            <button type="submit">Accedi</button>
            <p>Non hai un account? <a href="{% url 'register' %}">Registrati qui</a></p>
        </form>
    </div>
    <div id="toast-container" class="toast-container"></div>
        <script id="django-messages" type="application/json">
            [
            {% for message in messages %}
                {"level": "{{ message.level_tag }}", "text": "{{ message|escapejs }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]
        </script>
  <script src="{% static 'toast.js' %}"></script>
</body>
</html>